[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
asgiref = "==3.3.1"
backcall = "==0.2.0"
certifi = "==2020.11.8"
colorama = "==0.4.3"
decorator = "==4.4.2"
distlib = "==0.3.1"
ipykernel = "==5.3.4"
ipython = "==7.16.1"
jedi = "==0.17.2"
jupyter-client = "==6.1.6"
jupyter-core = "==4.6.3"
parso = "==0.7.1"
pickleshare = "==0.7.5"
pipenv = "==2020.6.2"
prompt-toolkit = "==3.0.5"
pytz = "==2020.4"
pyzmq = "==19.0.1"
sqlparse = "==0.4.1"
tornado = "==6.0.4"
traitlets = "==4.3.3"
virtualenv = "==20.0.28"
virtualenv-clone = "==0.5.4"
wcwidth = "==0.2.5"
wincertstore = "==0.2"
Django = "==3.1.4"
ipython_genutils = "==0.2.0"
Pillow = "==8.0.1"
Pygments = "==2.6.1"

[dev-packages]

[requires]
python_version = "3.8"
