.wrap {
  width: 100%;
}

input {
  display: block;
  border: none;
  padding: 7px 7px;
}

input,
input:active,
input:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

/* sign up section */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.signup-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.signup-title {
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0;
}

.signup-desc {
  font-size: 13px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.signup-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
  width: 100%;
}

.signup-input-box:first-child {
  align-items: flex-start;
}

.gender-span {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
}

.gender-box {
  display: flex;
}

.gender-box-item {
  display: flex;
  align-items: center;
}

.gender-box-item:first-child {
  margin-right: 5px;
}

.gender-box-item input {
  margin-right: 3px;
}

.gender-input {
  display: inline-block;
}

.birth-label {
  align-self: flex-start;
  font-size: 13px;
  margin-bottom: 3px;
}

.signup-input {
  width: 100%;
  border: 1px solid #e1e4e8;
}

.signup-input:hover,
.signup-input:active {
  border: 1px solid #e1e4e8;
}

.signup-button {
  width: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

/* login-section */
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-title {
  font-size: 25px;
  font-weight: 400;
  margin: 40px 0;
}

.login-form {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 15px;
}

.login-input:hover,
.login-input:active {
  border-bottom: 1px solid #e1e4e8;
}

/* .login-checkbox {
  display: flex;
  align-items: center;
} */

.login-button {
  width: 100%;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.login-subtext {
  display: flex;
  align-items: center;
}

.login-subtext span {
  color: #8e8e93;
  margin-right: 7px;
}

.login-subtext-signup {
  text-decoration: underline;
}
