{% extends 'layout.html'%} {% load static %} {% block style%}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'recommendapp/index.css' %}" /> -->
<link rel="stylesheet" type="text/css" media="(max-width: 480px)" href="{% static 'styles/mobile_index.css' %}" />
<script src="{% static 'js/ctg_content.js' %}" defer></script>
<script src="{% static 'js/infscroll.js' %}" defer></script>
{% endblock %} {% block content %}
<!--********************************* 카테고리 헤더 *********************************-->

<div class="category-infinite">
  <h1 class="category-infinite-title">{{ s_ctg.name_kr }}</h1>
  <section class="category-sub-section">
    <div class="category-sub">
      <div class="category-sub-filter">
        <div class="category-sub-filter-box">
          <span>필터</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <aside class="categoryFilter-dropdown-menu">
          <dl class="categoryFilter-dropdown-list">
            <dt class="sr-only">필터</dt>
            <dd>필터</dd>
          </dl>
        </aside>
      </div>

      <div class="category-sub-sort">
        <div class="category-sub-sort-box">
          <span>정렬</span>
          <i class="fas fa-chevron-down"></i>
        </div>
        <aside class="categorySort-dropdown-menu">
          <dl class="categorySort-dropdown-list">
            <dt class="sr-only">정렬</dt>
            <dd>
              <a onclick="getfilterURL('like')">인기순</a>
            </dd>
            <dd>
              <a onclick="getfilterURL('name')">상품순</a>
            </dd>
            <dd>
              <a onclick="getfilterURL('-price')">높은가격순</a>
            </dd>
            <dd>
              <a onclick="getfilterURL('price')">낮은가격순</a>
            </dd>
          </dl>
        </aside>
      </div>
    </div>
  </section>
  <!--********************************* 상품 목록 *********************************-->

  <div class="infinite-container">
    {% for prod in contents %}
    <div class="infinite-item">
      <div class="box">
        <div class="img_box">
        {% comment %} onclick="animation('{% url 'product' prod.id %}')" {% endcomment %}
          <a href='{% url 'product' prod.id %}'>
            <img src="{{ prod.img_url }}" alt="image" class="image" />
          </a>
        </div>
        <div class="product-container">
          <div class="info">
            <b>{{ prod.brand.name_kr }}</b>
            <div class="price">{% load humanize %} {{prod.origin_price|intcomma}}원</div>
          </div>
          <!-- onclick="like_ajax('{% url 'like' prod.id %}', {{ prod.id }} )" -->
          {% if user.is_authenticated %}
            <a class="product-image-box-login {{ prod.id }}">
              <button class="heart-button {% if prod in likes %}active{% endif %}" type="button"></button>
            </a>
          {% else %}
            <a class="product-image-box-logout {{ prod.id }}">
              <button class="heart-button {% if prod in likes %}active{% endif %}" type="button"></button>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if contents.has_next %}
  <a class="infinite-more-link" href="?page={{ contents.next_page_number }}&s_ctg={{s_ctg.id}}">More</a>
  {% endif %}
</div>
<div id="sentinel"></div>
{% comment %} <input id="page" type="hidden" value="2" />
<button id="callmorepost" type="button" class="btn btn-primary btn-block">More Post</button>
{% endcomment %}
{% csrf_token %}
{% endblock %}
