{% extends 'layout.html'%}

{% load static %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendapp/index.css' %}"/>
    <link rel="stylesheet" type="text/css" media = "(max-width: 480px)" href="{% static 'recommendapp/mobile_index.css' %}"/>
{% endblock %}

{% block content %}
회원가입<br><br>
<form action='{% url 'join' %}' method='POST'>
    {% csrf_token %}
    <input placeholder="ID" name='id'/><br>
    <input placeholder="PW" name='pw'/><br>
    <input placeholder="RE_PW" name='r_pw'/><br>
    <input placeholder="name" name='name'/><br>
    <input placeholder="NUM" name='num'/><br>
    <button type='submit'>회원가입</button>
</form>
{% endblock %}