{% extends 'layout.html'%}

{% load static %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendapp/index.css' %}"/>
    <link rel="stylesheet" type="text/css" media = "(max-width: 480px)" href="{% static 'recommendapp/mobile_index.css' %}"/>
{% endblock %}

{% block content %}
로그인
<form action='{% url 'login' %}' method='POST'>
    {% csrf_token %}
    <input placeholder="ID" name='id'/><br>
    <input placeholder="PW" name='pw'/><br>
    <button type='submit'>로그인</button>
</form>
{% endblock %}