{% extends 'layout.html'%} {% load static %} {% block style%}
<link rel="stylesheet" type="text/css" media="(max-width: 480px)" href="{% static 'styles/mobile_index.css' %}" />
<link rel="stylesheet" type="text/css" media="(max-width: 480px)" href="{% static 'styles/banner.css' %}" />
<script src="{% static 'js/main_content.js' %}" defer></script>
<script src="{% static 'js/banner.js' %}" defer></script>
{% endblock %} {% block content %} {% comment %} {{category}} {% endcomment %}
<div class="header-menu">
  <a href="{% url 'new_page' %}">
    <span>NEW</span>
  </a>
  <a href="{% url 'best_page' %}">
    <span>BEST</span>
  </a>
  <a href="{% url 'sale_page' %}">
    <span>SALE</span>
  </a>
  <a href="{% url 'brand_page' %}">
    <span>BRAND</span>
  </a>
</div>
<div class="ad-section">
  <div class="ad-box">
    {% for i in active_banner_list %}
      <img src="{{ i.img }}" alt="image" class="banner-img" />
    {% endfor %}
  </div>
</div>
<div class="infinite-container">
  {% for prod in contents %}
  <div class="infinite-item">
    <div class="box">
      <div class="img_box">
        {% comment %} "{% url 'product' prod.id %}" "{{prod.url}}" {% endcomment %}
        <a class="img_box_a {{prod.id}} {{prod.url}}" href="{% url 'product' prod.id %}">
          <img src="{{ prod.img_url }}" alt="image" class="image" />
        </a>
      </div>
      <div class="product-container">
        <div class="info">
          <b>{{ prod.brand.name_en }}</b>
          <div class="price">{% load humanize %} {{prod.origin_price|intcomma}}원</div>
        </div>
        <!-- 임의로 찜하기 버튼을 추가했습니다. 추후 수정요망 -->
        <!-- ajax로 제품의 아이디값을 보내서 컨트롤러단으로 보내게 한다 -->
        <!-- ajax: 제품을 찜했는지 안했는지 '상태'만 전달을 주고받고하여 쿠키로 저장하게 한다 -->
        {% comment %}
        <a class="product-image-box-login {{ prod.id }}" onclick="like_ajax('{% url 'like' prod.id %}', '{{ prod.id }}' )">
          <button class="heart-button" type="button"></button>
        </a>
        {% endcomment %}         
          {% if user.is_authenticated %}
            <a class="product-image-box-login {{ prod.id }}">
              <button class="heart-button {% if prod in likes %}active{% endif %}" type="button"></button>
            </a>
          {% else %}
            <a class="product-image-box-logout {{ prod.id }}">
              <button class="heart-button {% if prod in likes %}active{% endif %}" type="button"></button>
            </a>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% csrf_token %} {% endblock %}
