{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://kit.fontawesome.com/f16496386e.js" crossorigin="anonymous" defer></script>
    <script src="{% static 'js/styleCatch.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'recommendapp/styleCatch.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header class="styleCatch-header">
      <a href="{% url 'index' %}">
        <i class="fas fa-arrow-left"></i>
      </a>
      <h1 class="styleCatch-title">Style Catch</h1>
      <label for="submit">
        <span class="styleCatch-complete">완료</span>
      </label>
    </header>
    <section class="styleCatch-desc">
      <span>about style catch</span>
    </section>
    <section class="styleCatch-images">
      <div class="styleCatch-camera-wrap">
        <div class="styleCatch-camera">
          <label for="photo">
            <img src="{% static 'assets/camera-icon.svg' %}" alt="camera-icon" />
            <form class="styleCatch-camera-form" action="{% url 'analyze' %}" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <input type="file" id="photo" name="photo" capture="camera" accept="image/*" />
              <input type="file" id="album" name="album" accept="image/*" />
              <input type="submit" id="submit" />
            </form>
            <span>카메라</span>
          </label>
        </div>
      </div>
      <div class="styleCatch-search-wrap">
        <div class="styleCatch-search">
          <label for="album">
            <img src="{% static 'assets/image-search-icon.svg' %}" alt="image-search-icon" />
            <span>찾아보기</span>
          </label>
        </div>
      </div>
    </section>

    <section class="styleCatch-user">
      <div class="styleCatch-user-image-wrap">
        <div class="styleCatch-user-image">
          <!-- <span>유저이미지 추가 공간</span> -->
          <img id="pic" style="width: 100%" />
        </div>
      </div>
    </section>
  </body>
</html>
