{% extends 'layout.html'%}

{% load static %}
{% block style%}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendapp/index.css' %}"/>
    <link rel="stylesheet" type="text/css" media = "(max-width: 480px)" href="{% static 'recommendapp/mobile_index.css' %}"/>
{% endblock %}

{% block content %}
{% if error %}
<div>
    <p>{{ error }}</p>
</div>
<br>
{% endif %}
로그인
<form action='{% url 'login' %}{% if next %}?next={{ next }}{% endif %}' method='POST'>
    {% csrf_token %}
    <input placeholder="ID" name='id'/><br>
    <input placeholder="PW" name='password'/><br>
    <button type='submit'>로그인</button>
    <input type="hidden" name='next' value="{{ request.GET.next }}">
</form>
{% endblock %}