{% extends 'layout.html'%} {% load static %} {% block style%}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'recommendapp/index.css' %}" /> -->
<!-- <link rel="stylesheet" type="text/css" media="(max-width: 480px)" href="{% static 'recommendapp/mobile_layout.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'recommendapp/signup.css' %}" />
{% endblock %} {% block content %}
<section class="signup">
  <div class="signup-header">
    <h1 class="signup-title">Runup 맴버 가입</h1>
    <p class="signup-desc">
      맴버가 되어 Runnup이 제공하는 <br />
      최고의 제품과 혜택을 만나보세요.
    </p>
  </div>
  <form class="signup-form" action="POST">
    <div class="signup-input-box">
      <span class="gender-span">성별을 체크해주세요 </span>
      <div class="gender-box">
        <div class="gender-box-item">
          <input class="gender-input" type="radio" id="w" name="gender" value="w" checked />
          <label for="w">WOMEN</label>
        </div>
        <div class="gender-box-item">
          <input class="gender-input" type="radio" id="m" name="gender" value="m" />
          <label for="m">MEN</label>
        </div>
      </div>
    </div>
    <div class="signup-input-box">
      <label class="birth-label" for="birth">생년월일을 입력해주세요 </label>
      <input class="signup-input" type="date" id="birth" name="birth" />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="id">ID: </label>
      <input class="signup-input" placeholder="아이디를 입력해주세요" type="text" id="id" name="id" required="required" minlength="5" maxlength="50" pattern="^(?!.*[^\da-zA-Z]).*" />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="password">PASSWORD: </label>
      <input
        class="signup-input"
        placeholder="비밀번호를 입력해주세요"
        type="password"
        id="password"
        name="password"
        required="required"
        minlength="6"
        maxlength="50"
        pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&*_+=}?])(?!.*[~\-:;`|/<>'{}\[\]&quot;?\\\s]).*"
      />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="password-check">PASSWORD CHECK: </label>
      <input
        class="signup-input"
        placeholder="비밀번호를 다시 입력해주세요"
        type="password"
        id="password-check"
        name="password-check"
        required="required"
        minlength="6"
        maxlength="50"
        pattern="^(?=.*\d)(?=.*[!@#$%&])(?=.*[a-zA-Z]).*"
      />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="name">NAME: </label>
      <input class="signup-input" placeholder="이름을 입력해주세요" type="text" id="name" name="name" required="required" minlength="2" maxlength="10" />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="email">EMAIL: </label>
      <input class="signup-input" placeholder="이메일을 입력해주세요" type="email" id="email" name="email" required />
    </div>
    <div class="signup-input-box">
      <label class="sr-only" for="contact">CONTACT: </label>
      <input class="signup-input" placeholder="핸드폰번호를 입력해주세요" type="tel" id="contact" name="contact" />
    </div>
    <button type="submit">회원가입</button>
  </form>
</section>
{% endblock %}